
@{
    ViewData["Title"] = "PaymentResult";
}

<h1>Payment Result</h1>

<table>
    <tr>
        <td>Result : </td>
        <td> @ViewBag.Message</td>
        <td></td>
    </tr>
</table>

<a asp-action="Generate">Back</a>