@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <p> 
            <a asp-action="Generate" asp-controller="Payment" class="navbar-toggler" data-target=".navbar-collapse" aria-controls="navbarSupportedContent">
                2C2P Redirect payment
            </a>
        </p>
    </div>
